@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mainMedium;
  src: url("../assets/fonts/FiraGO-Medium.otf");
}
@font-face {
  font-family: main;
  src: url("../assets/fonts/FiraGO-Regular.otf");
}
@font-face {
  font-family: mainSemiBold;
  src: url("../assets/fonts/FiraGO-SemiBold.otf");
}
@font-face {
  font-family: mainBold;
  src: url("../assets/fonts/FiraGO-Bold.otf");
}
:root {
  --main: #e71d36;
}
body {
  font-family: mainMedium;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
}

.defInput {
  @apply bg-inputBg rounded-lg h-[36px] w-[450px] text-[14px] px-3 placeholder:text-inputPlaceholder outline-none transition-colors focus:bg-inputFocus;
}
.content_container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}

.Loader {
  height: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid var(--main);
  border-bottom: 8px solid var(--main);
  animation: loading 1s infinite linear;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1500px) {
  .content_container {
    width: 1200px;
  }
}
@media (max-width: 1330px) {
  .content_container {
    width: 1100px;
  }
}
@media (max-width: 1200px) {
  .content_container {
    width: 1000px;
  }
}
@media (max-width: 1100px) {
  .content_container {
    width: 900px;
  }
}
@media (max-width: 1000px) {
  .content_container {
    width: 800px;
  }
}
@media (max-width: 900px) {
  .content_container {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .content_container {
    width: 600px;
  }
}
@media (max-width: 700px) {
  .content_container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
